.welcome{
    
    background-image: url("../images/h_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color:white;
    width:100%;
    
}

html,
body {
    height: 100%;
}
#one,#two{
    margin-bottom:2%;
}
#three{
    margin-bottom:15%;
}
#one{
    margin-top:40%;
}
.about{
    text-align:center;
    margin-top:6%;
    margin-bottom:6%;
}
.services{
    background-image: url('../images/s_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align:center;
    height:50%;

}
.whatwedo{
    text-align:center;
    margin-top:7%;
    margin-bottom:10%;
}
.whatwedo h2{
    margin-bottom:3%;
}
#hide,#hide1,#hide2{
    display:none;
}
.portofolio{
    text-align:center;
}
.portofolio > .row{
margin-bottom:5%;
}
.portofolio > .row >.col-md-3{
   margin-bottom:2%;
}
.container> .row{
    margin-bottom:5%;
}
.contact{
    background-image:url("../images/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    color:white;
}
input[type="name"],input[type="email"]
{
    background: transparent;
   
}
.contact > .container >h2{
    margin-top:10%;
}
:-ms-input-placeholder  {
    color: white;
    opacity: 1; /* Firefox */
  }
  .icon > .row >img{
      margin-right:1%;
  }
  .icon .row{
      margin-left:23%;
  }
  .delani{
      text-align:center;
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .welcome, .about, .services,.whatwedo,.delani,.icon {
      width: 100%;
    }
  }
  