.welcome{
    
    background-image: url("../images/h_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color:white;
    width:100%;
    
}

html,
body {
    height: 100%;
}
#one,#two{
    margin-bottom:2%;
}
#three{
    margin-bottom:15%;
}
#one{
    margin-top:40%;
}
.about{
    text-align:center;
    margin-top:6%;
    margin-bottom:6%;
}
.services{
    background-image: url('../images/s_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align:center;
    height:50%;

}
.whatwedo{
    text-align:center;
    margin-top:7%;
    margin-bottom:10%;
}
.whatwedo h2{
    margin-bottom:3%;
}
#hide,#hide1,#hide2{
    display:none;
}
.row1 {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row1,
  .row1 > .column1 {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column1 {
    float: left;
    width: 25%;
  }
  

